* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  border: none;  
}

body, html {
  height: 100vh;
  width: 100%;
  background-color: aqua;
  display: flex; 
  flex-direction: column; 
}

.header {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  background-color: rgb(22, 2, 16);
}
.hFrase{
  
  position: fixed;  
  display: flex;
  font-size: 30px;
  font-family: "Playwrite HR";
  color: #f5f5f5;  
  transition: transform 0.1s ease, opacity 1s ease-in-out;
  opacity: 0;
  cursor: pointer;
}

.hFraseAfter{    
  opacity: 1;  
}
.content {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(19, 1, 18);  
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-card {
  margin-bottom: 20px;  
}

.double-cards {
  display: flex;
  justify-content: space-around;
  width: 100%;
  transition:transform 0.5s  ease, opacity 0.5s ease-out;
}

.card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  transition: transform 0.5s  ease, opacity 0.5s ease-out; /* Adiciona a transição */
}

.card {
  width: 200px;
}

.card-container:hover {
  transform: translateY(-10px); /* Desloca o card para cima */
}

.icon-wrapper {
  position: absolute;
  bottom: 224px;
  right: 0px;
  display: flex;
  filter: invert(240%);   
}


.info{  
  position: absolute;
  bottom: 100px;
  right: 6px;
  display: flex;
   
  height: 30px;
  width: 30px;
  cursor: pointer;
}
#iconLinkedin1:hover{
  filter: invert(80%);
  transform: scale(1.01);  
  transition: all 0.4s ease-out; 
}
#iconLinkedin2:hover{
  filter: invert(80%);
  transform: scale(1.01);  
  transition: all 0.4s ease-out; 
}
#iconLinkedin3:hover{
  filter: invert(80%);
  transform: scale(1.01);  
  transition: all 0.4s ease-out; 
}
.info:hover {
  filter: invert(80%);
  cursor: pointer;
  transform: scale(1.01);  
  transition: all 0.4s ease-out;  
}
.infoIcon{
  position: absolute;
  bottom: 100px;
  right: 6px;
  display: flex;
   
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.infoIconRo{
  position: absolute;
  bottom: 100px;
  right: 6px;
  display: flex;
   
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.infoIconB{
  position: absolute;
  bottom: 100px;
  right: 6px;
  display: flex;
   
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.card-container.hidden {
  opacity: 0; /* Define a opacidade para 0 quando a classe hidden é adicionada */
}
.double-cards.hidden {
  opacity: 0; /* Define a opacidade para 0 quando a classe hidden é adicionada */
}
.infoContainer{
  display:none;
  justify-content: center;
  width: 400px;
  height: 200px;
  position: absolute;
  background-color: rgb(5, 143, 255);
  left: 100px;
  font-family: "Playwrite HR";
  font-weight: bold;
  transition: 0.6s ease-in-out;
  color: white;
  border-radius: 9px;
}
.infoContainer:hover{
  border-bottom: 8px solid greenyellow;
}
.infoContainerRo{
  position: absolute;
  display:none;
  width: 400px;
  height: 200px;
  background-color: rgb(5, 143, 255);
  left: -610px;
  font-family: "Playwrite HR";
  font-weight: bold;
  color: white;
  border-radius: 9px;
  justify-content: center;
  transition: 0.6s ease-in-out;
}
.infoContainerRo:hover{
  border-bottom: 8px solid rgb(245, 0, 163);
}
.infoContainerB{
  position: absolute;
  display:none;
  justify-content: center;
  width: 400px;
  height: 200px;
  background-color: rgb(5, 143, 255);
  left: 100px;
  font-family: "Playwrite HR";
  font-weight: bold;
  transition: 0.6s ease-in-out;
  color: white;
  border-radius: 9px;
}
.infoContainerB:hover{
  border-bottom: 8px solid rgb(245, 0, 0);
}
/* close icon edu */
.closeIcon{
  display:flex;
  width: 25px;
  height: 25px;
  position: absolute;  
  cursor:pointer;
  right: 10px;
  top: 10px;
}
.closeIcon:hover{
  transform: scale(1.1);
  filter: invert(80%);
}
/* Close icon Rosinho */
.closeIconRo{
  display:flex;
  width: 25px;
  height: 25px;
  position: absolute;  
  cursor:pointer;
  left: 10px;
  top: 10px;
}
.closeIconRo:hover{
  transform: scale(1.1);
  filter: invert(80%);
}

.closeIconB{
  display:flex;
  width: 25px;
  height: 25px;
  position: absolute;  
  cursor:pointer;
  right: 10px;
  top: 10px;
}
.closeIconB:hover{
  transform: scale(1.1);
  filter: invert(80%);
}
.SongContainer{
  position:absolute;
  display: flex;
  margin-top: 145px;    
}

.songButton{
  background-color: black;
  width: 240px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.roSongContainer{
  position:absolute;
  display: flex;
  margin-top: 145px;    
}

.roSongButton{
  background-color: black;
  width: 240px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.bSongContainer{
  position:absolute;
  display: flex;
  margin-top: 145px;    
}

.bSongButton{
  background-color: black;
  width: 240px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.playIcon{
  filter: invert(100%);
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.equalizer {  
  display: flex;
  align-items: flex-end;
  height: -3px;
  gap: 5px;
  padding: 20px;
  width: 170%;
  opacity: 0;
  transition: opacity 1s ease;
}
.equalizerPlay{
  opacity: 1;  
}
.equalizerR {  
  display: flex;
  align-items: flex-end;
  height: -3px;
  gap: 5px;
  padding: 20px;
  width: 170%;
  opacity: 0;
  transition: opacity 1s ease;
}
.equalizerPlayR{
  opacity: 1;  
}

.equalizerB {  
  display: flex;
  align-items: flex-end;
  height: -3px;
  gap: 5px;
  padding: 20px;
  width: 170%;
  opacity:0;
  transition: opacity 1s ease;
}
.equalizerPlayB{
  opacity: 1;  
}

.bar {
  width: 10px;
  background-color: #f1f1f1;
  animation: bounce 1s infinite ease-in-out;
}

.bar:nth-child(2) {
  animation-delay: 0.1s;
}

.bar:nth-child(3) {
  animation-delay: 0.2s;
}

.bar:nth-child(4) {
  animation-delay: 0.3s;
}

.bar:nth-child(5) {
  animation-delay: 0.4s;
}
.bar:nth-child(6) {
  animation-delay: 0.5s;
}
.bar:nth-child(7) {
  animation-delay: 0.6s;
}
.bar:nth-child(8) {
  animation-delay: 0.7s;
}

@keyframes bounce {
  0%, 100% {
    height: 10px;
  }
  50% {
    height: 30px;
  }
}


/* Media Queries para Responsividade */

/* Telas grandes (desktops) */
@media (min-width: 1024px) {
  .double-cards {
    flex-direction: row;
  }
}

/* Telas médias (tablets) */
@media (min-width: 768px) and (max-width: 1023px) {
  .double-cards {
    flex-direction: row;
    .card-container {
      width: 45%;
    }
  }

  .card {
    width: 150px;
  }
}

/* Telas pequenas (smartphones) */
@media (max-width: 767px) {
  .double-cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100px;
  }

  .card-container {
    width: 100%;
    margin-bottom: 20px;
  }
}